body {
	background-color: #1B4B4B;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	color: #F2F2F2;
	font-size: 20px;
	margin: 20px;
}
h1 {
	font-family: 'Coda', serif;
	font-size: 60px;
}
a:link {
	color: #E5C8CB;
}
a:visited {
	color: #F78292;
}
@media all and (max-width: 768px) {
	h1 {
		text-align: center;
	}
}
#start {
	font-size: 16px;
	background-color: #f2f2f2;
	color: #1a1a1a;
	border-radius: 6px;
	margin-top: 6px;
}
.loaded {
	transition: opacity 1s ease-in-out;
	opacity: 1;
}
.unloaded {
	transition: opacity 1s ease-in-out;
	opacity: 0;
}
#game {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display:flex;
	justify-content:center;
	align-items:center;
}
#board {
	height: 80vmin;
	aspect-ratio: 1;
}
#infoCol {
	width: 128px;
	height: 80vmin;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#p1die, #p2die {
	width: 64px;
	height: 64px;
	padding: 16px;
}